.lsp-session*
.org-id-locations
annotations
bookmarks
custom.el
elpa
emojis
forge-database.sqlite
lang.el
personal.el
perspective
playground
projectile-bookmarks.eld
recentf
srecode-map.el
straight/build
straight/build-cache.el
straight/repos
url
