body {
  background-color: #000000;
  color: #ffffff;
}
a {
  color: #79a8ff;
}
.todo {
  color: #ff5f5f;
}
.done   {
  color: #44df44;
}
.priority {
  color: #caa6df;
}
.tag    {
  color: #caa6df;
  background-color: none;
}
.timestamp {
  color: #00d3d0;
}
.timestamp-kwd {
  color: #fec43f;
}
pre {
    border-color: none;
    background-color:  #1e1e1e;
    color: none;
}
pre.src:before {
    color: none;
    background-color: #303030;
}
.inlinetask {
    color: #ffffff;
    background-color: none;
}
.code-highlighted {
  background-color: #5a5a5a;
}
.org-info-js_search-highlight {
  background-color: #5a5a5a;
  color: #ffffff;
}
